{% extends 'base.html' %}

{% block content %}
<section class="about spad">
    <div class="container">
        <div class="about__text">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>About me</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% for about_image in about_content.about_images.all %}
                    {% if forloop.counter == 1 %}
                    <div class="about__pic__item__large">
                        <img src="{{ about_image.image.url }}" alt="">
                    </div>
                    {% elif forloop.counter == 2 %}
                    <div class="about__pic">
                        {% for small_image in about_content.about_images.all|slice:"1:" %}
                        <div class="about__pic__item">
                            <img src="{{ small_image.image.url }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <div class="about__right__text">
                        {{ about_content.text|safe }}
                        <div class="about__right__text__social">
                            {% for social in about_content.social_networks.all %}
                                <a href="{{ social.link }}">
                                    <img src="{{ social.icon.url }}" alt="" width="15">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}